<div class="container">

    <div class="jumbotron">
        <button type="button" class="btn btn-primary" (click)="makeRed(titleInput.value)">Red</button>
        <button type="button" class="btn btn-primary" (click)="makeBlue(titleInput.value)">Blue</button>
        <button type="button" class="btn btn-primary" (click)="makeYellow(titleInput.value)">Yellow</button>
        <button type="button" class="btn btn-primary" (click)="makeBlack(titleInput.value)">Black</button>
        <button type="button" class="btn btn-primary" (click)="makeBold(titleInput.value)">B</button>
        <button type="button" class="btn btn-primary" (click)="makeItalic(titleInput.value)">I</button>
        <button type="button" class="btn btn-primary" (click)="makeUnderline(titleInput.value)">U</button>
        <br>
        <br>
        <textarea id='textAreaa' rows="5" style="width: 100%" #titleInput>

    </textarea>
        <button type="button" class="btn btn-primry" (click)="clickOnComment(titleInput.value)">Comment</button>

        <div id="answer"></div>
        <div hidden id='underlineDiv'></div>
    </div>
</div>